In [34]:
# 1- Écrire un algorithme permettant d’échanger les valeurs de deux variables A et B.
A=2
B=3
temp=A
A=B
B=temp
print(A)

3

In [7]:
# 2- Écrire un programme qui demande un nombre à l’utilisateur, puis qui calcule et affiche le carré de ce nombre.
n = int(input("Entrer le nombre: "))
c = n**2
print("Le carré du nombre : ", n," est :" ,c)

Entrer le nombre: 4
Le carré du nombre :  4  est : 16

In [8]:
# 3- Écrire un algorithme qui demande un nombre à l’utilisateur, et l’informe ensuite si ce nombre est positif ou négatif
n = int(input("Entrer le nombre: "))
if n >0:
    print("Ce nombre est positif")
else:
    print("Ce nombre est négatif")

Entrer le nombre: -2
Ce nombre est négatif

In [12]:
# 4- Écrire un algorithme qui demande deux nombres à l’utilisateur et l’informe ensuite si leur produit est négatif ou positif

a= int(input("Entrer le nombre a: "))
b= int(input("Entrer le nombre b: "))
if (a > 0 and b > 0) or (a < 0 and b < 0):
    print("Leur produit est positif")
else:
    print("Leur produit est négatif")

Entrer le nombre a: -2
Entrer le nombre b: -2
Leur produit est positif

In [21]:
# 5- Écrire un algorithme qui demande un nombre de départ, et qui ensuite affiche les dix nombres suivants.

Nb=int(input("Entrer un nombre ")) 
for i in range(Nb+1,Nb+11) :
    print(i)

Entrer un nombre 17
18
19
20
21
22
23
24
25
26
27

In [74]:
#Écrire un algorithme qui demande un nombre de départ, et qui calcule la somme des entiers jusqu'à ce nombre.

N=int(input("Entrer un nombre ")) 
som=0
for i in range(0,N+1):
    som=som+i
print(som)

Entrer un nombre 5
15

In [75]:
# Pandas 

# 1- Récupérez le csv fournit, le lire et le stocker dans une variable sous format dataframe. 

import pandas as pd
import numpy as np
data=pd.read_csv("Pandas_exercice.csv", sep=",")
print(data)
# Afficher ensuite le max de chaque colonne (quand c’est possible).

def max(data):
    return data.describe().loc['max']
max(data)

    ord_no  purch_amt    ord_date  customer_id  salesman_id
0    70001     150.50  05-10-2012         3001         5002
1    70009     270.65  09-10-2012         3001         5005
2    70002      65.26  05-10-2012         3005         5001
3    70004     110.50  06-10-2012         3001         5003
4    70007     948.50  10-09-2012         3005         5002
5    70005    2400.60  10-09-2012         3001         5001
6    70008    5760.00  10-09-2012         3005         5001
7    70010    1983.43  10-10-2012         3001         5006
8    70003    2480.40  10-10-2012         3005         5003
9    70012     250.45  17-06-2012         3001         5002
10   70011      75.29  07-08-2012         3005         5007
11   70013    3045.60  08-08-2012         3005         5001

ord_no         70013.0
purch_amt       5760.0
customer_id     3005.0
salesman_id     5007.0
Name: max, dtype: float64

In [92]:
# 2- Créer une fonction qui permet de calculer le total de la variable purch_amt

def sum (df,column):
    df.sort_values(by='customer_id')
    return  df[column].sum() 
sum(data,'purch_amt')

17541.18

In [140]:
# 3- Afficher le dataframe trié par purch_amt (de manière décroissante),
def tri (df,column):
    df['purch_amt'].loc[df['purch_amt'] < 300]=np.nan
    return df.sort_values(by= [column],ascending = False)
tri(data,'purch_amt')

/opt/conda/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

    ord_no  purch_amt    ord_date  customer_id  salesman_id
6    70008    5760.00  10-09-2012         3005         5001
11   70013    3045.60  08-08-2012         3005         5001
8    70003    2480.40  10-10-2012         3005         5003
5    70005    2400.60  10-09-2012         3001         5001
7    70010    1983.43  10-10-2012         3001         5006
4    70007     948.50  10-09-2012         3005         5002
0    70001        NaN  05-10-2012         3001         5002
1    70009        NaN  09-10-2012         3001         5005
2    70002        NaN  05-10-2012         3005         5001
3    70004        NaN  06-10-2012         3001         5003
9    70012        NaN  17-06-2012         3001         5002
10   70011        NaN  07-08-2012         3005         5007

In [133]:
print(data.loc[data['purch_amt'] < 300])

    ord_no  purch_amt    ord_date  customer_id  salesman_id
0    70001     150.50  05-10-2012         3001         5002
1    70009     270.65  09-10-2012         3001         5005
2    70002      65.26  05-10-2012         3005         5001
3    70004     110.50  06-10-2012         3001         5003
9    70012     250.45  17-06-2012         3001         5002
10   70011      75.29  07-08-2012         3005         5007