In [6]:
# Exercice 1

# initialaisation de la variable c

c = "X44bf38j23jdjgfjh737nei47"

In [160]:
# programme qui construit deux chaînes de caractères c_alpha et c_num

c_alpha, c_num = "", ""
for i in c:
    if i.isalpha():
        c_alpha = "".join([c_alpha, i])
    elif i.isdigit():
        c_num = "".join([c_num, i])
    
print("Result:",c_alpha)
print("Result:",c_num)

Result: Xbfjjdjgfjhnei
Result: 44382373747

In [167]:
# Détermine si la sous-chaîne j23 apparaît dans votre chaîne

'j23' in c

True

In [169]:
# remplace j23 par j24

c=c.replace("j23","j24")

'X44bf38j24jdjgfjh737nei47'

In [170]:
# En une seule fonction

def verify_replace(string):
    if (string.find('j23')):
        string =string.replace('j23','j24')
    return string
verify_replace(c)

'X44bf38j24jdjgfjh737nei47'

In [81]:
x=c.find('f')
y=c.find('3')
z=c.find('7')

In [82]:
# Détermine si la sous-chaîne f37 apparaît dans votre chaîne

if x<y and y<z:
    print("f37 est une sous-chaine croissante")
else:
    print("f37 n'est pas  sous-chaine croissante")

f37 est une sous-chaine croissante

In [83]:
# Exercice 2

# initialisation de la variable texte

texte = "We introduce here the Python language"

In [84]:
len(texte)

37

In [138]:
# compte le nombre de caractère

compteur= 0
for i in texte:
    compteur = compteur+1
compteur

37

In [87]:
# compte le nombre de caractères de cette chaîne qui ne sont pas des espaces

compteur = 0
for i in texte:
    if i !=" ":
        compteur=compteur+1
compteur

32

In [89]:
# Sachant que dans cette chaîne de caractères, les mots sont séparés par des espaces, créez un script qui compte le nombre de mots de cette chaînecompteur = 1

for i in texte:
    if i ==" ":
        compteur=compteur+1
compteur
# où
len(texte.split())

6

In [91]:
texte2 = "We introduce here the Python language. To learn more about the language, consider going through the excellent tutorial https://docs.python.org/tutorial. Dedicated books are also available, such as http://www. diveintopython.net/."

In [92]:
compteur=1
for i in texte2:
    if i ==" ":
        compteur=compteur+1
compteur

26

In [94]:
a=len(texte2.split())
a

26

In [181]:
# Exercice 3

# Demander à l’utilisateur d’entrer trois mots à la suite,puis renvoie les trois mots triés par ordre alphabétique dans une liste.
a = input("Please enter a string: \n")
b = input("Please enter a string: \n")
c = input("Please enter a string: \n")
l=[a,b,c]
l

Please enter a string:
paul
Please enter a string:
jules
Please enter a string:
gautier

['paul', 'jules', 'gautier']

In [186]:
# faire le tri
l.sort()
l

[]

In [189]:
#L’utilisateur puisse entrer autant de mots qu’il le souhaite. Le processus de saisie s’arrête lorsque l’utilisateur entre le mot “FIN”.


word=""
l=[]
while 1:
    word= input("Please enter a string: \n")
    if word== "fin":
        break
    l.append(word)
    l.sort()
print(l)

Please enter a string:
paul
Please enter a string:
alex
Please enter a string:
jean
Please enter a string:
pierre
Please enter a string:
fin
['alex', 'jean', 'paul', 'pierre']

In [165]:
# Exercice 4

# 1- génerer les 52 cartes 

valeurs = ["2", "3", "4", "5", "6", "7", "8", "9","10","valet","dame","roi","as"]
Couleurs = ["Pique","Trefle","Carreau","Coeur"]
cartes=[i+j for i in valeurs for j in Couleurs ]
print(cartes)

len(cartes)

#où

cartes2=[]
for i in valeurs:
    for j in Couleurs :
        cartes2.append(str(i) + "De" + str(j))
print(len(cartes2))

['2Pique', '2Trefle', '2Carreau', '2Coeur', '3Pique', '3Trefle', '3Carreau', '3Coeur', '4Pique', '4Trefle', '4Carreau', '4Coeur', '5Pique', '5Trefle', '5Carreau', '5Coeur', '6Pique', '6Trefle', '6Carreau', '6Coeur', '7Pique', '7Trefle', '7Carreau', '7Coeur', '8Pique', '8Trefle', '8Carreau', '8Coeur', '9Pique', '9Trefle', '9Carreau', '9Coeur', '10Pique', '10Trefle', '10Carreau', '10Coeur', 'valetPique', 'valetTrefle', 'valetCarreau', 'valetCoeur', 'damePique', 'dameTrefle', 'dameCarreau', 'dameCoeur', 'roiPique', 'roiTrefle', 'roiCarreau', 'roiCoeur', 'asPique', 'asTrefle', 'asCarreau', 'asCoeur']
52

In [166]:
# 2- Mélangez alors la liste de vos cartes.

from random import shuffle
shuffle(cartes2)
print(cartes2)

['8DeCarreau', '6DeCarreau', '8DeCoeur', '5DeCarreau', '2DeCoeur', '3DePique', 'valetDePique', 'asDeCarreau', '7DeTrefle', '4DePique', '5DeCoeur', 'asDeCoeur', '3DeCarreau', '7DeCoeur', '10DePique', '4DeTrefle', '8DeTrefle', 'roiDePique', 'roiDeCarreau', 'dameDeCoeur', '7DeCarreau', 'valetDeCoeur', 'roiDeCoeur', '6DeTrefle', '3DeTrefle', 'asDeTrefle', '2DeTrefle', 'roiDeTrefle', '4DeCarreau', '5DePique', '2DePique', '2DeCarreau', '4DeCoeur', 'dameDeCarreau', '9DeTrefle', '10DeCarreau', '10DeTrefle', '6DePique', '9DeCoeur', 'valetDeCarreau', '5DeTrefle', '6DeCoeur', '3DeCoeur', 'dameDePique', '9DePique', '8DePique', '10DeCoeur', 'dameDeTrefle', 'valetDeTrefle', '7DePique', '9DeCarreau', 'asDePique']

In [176]:
#listes joueur1, joueur2, joueur3 et joueur4

joueur1=[]
joueur2=[]
joueur3=[]
joueur4=[]
i=0

while i<len(cartes2):
    if i % 4 == 0:
        joueur1.append(cartes2[i])
    elif i % 4 == 1:
        joueur2.append(cartes2[i])
    elif i % 4 == 2:
        joueur3.append(cartes2[i])
    else :
        joueur4.append(cartes2[i])
    i+=1
print(joueur1,joueur2,joueur3,joueur4)

['8DeCarreau', '2DeCoeur', '7DeTrefle', '3DeCarreau', '8DeTrefle', '7DeCarreau', '3DeTrefle', '4DeCarreau', '4DeCoeur', '10DeTrefle', '5DeTrefle', '9DePique', 'valetDeTrefle'] ['6DeCarreau', '3DePique', '4DePique', '7DeCoeur', 'roiDePique', 'valetDeCoeur', 'asDeTrefle', '5DePique', 'dameDeCarreau', '6DePique', '6DeCoeur', '8DePique', '7DePique'] ['8DeCoeur', 'valetDePique', '5DeCoeur', '10DePique', 'roiDeCarreau', 'roiDeCoeur', '2DeTrefle', '2DePique', '9DeTrefle', '9DeCoeur', '3DeCoeur', '10DeCoeur', '9DeCarreau'] ['5DeCarreau', 'asDeCarreau', 'asDeCoeur', '4DeTrefle', 'dameDeCoeur', '6DeTrefle', 'roiDeTrefle', '2DeCarreau', '10DeCarreau', 'valetDeCarreau', 'dameDePique', 'dameDeTrefle', 'asDePique']

In [218]:
# Exercice 7

#Créez un dictionnaire qui contient comme clé un certain nombres de mots en français et comme valeurs la traduction de ces mots en anglais. Ce dictionnaire fait donc office de traducteur français-anglais.

dictionnaire2 =[["Ambulance", "Ambulance"], ["Hôpital", "hospital"],["Infirmière", "Nurse"]]
dictionnaire2.append(["cerveau", "brain"])

# dictionnaire2 = dict(dictionnaire2)

print(dictionnaire2)

[['Ambulance', 'Ambulance'], ['Hôpital', 'hospital'], ['Infirmière', 'Nurse'], ['cerveau', 'brain']]

In [219]:
for i, element in enumerate (dictionnaire2):
    if "Hôpital" in dictionnaire2[i]:
        print(dictionnaire2[i][1])
        print(dictionnaire2)

hospital
[['Ambulance', 'Ambulance'], ['Hôpital', 'hospital'], ['Infirmière', 'Nurse'], ['cerveau', 'brain']]

In [214]:

# 1- Créez un dictionnaire qui contient comme clé un certain nombres de mots en français et comme valeurs la traduction de ces mots en anglais. Ce dictionnaire fait donc office de traducteur français-anglais.

dictionnaire = {"Ambulance" :"Ambulance", "Hôpital" : "hospital", "Infirmière": "Nurse"} 

# 2- ajout du couple "cerveau" : "brain".

dictionnaire['cerveau']= "brain"
print(dictionnaire)

# 3- test d'appartenance

#methode get()

result = dictionnaire.get("cerveau", "Le mot n'existe pas dans le dico.")
print(result)

#methode par la clé 

result = dictionnaire["cerveau"] #Je stocke le résultat dans une variable.
print(result)

#Methode Parcour

Resp = False 
for mot,dic in dictionnaire.items():
    if mot =="cerveau":
        Resp=True
        print("La valeur de la clé cerveau est :{}".format(dic))

{'Ambulance': 'Ambulance', 'Hôpital': 'hospital', 'Infirmière': 'Nurse', 'cerveau': 'brain'}
La valeur de la clé cerveau est :brain

In [221]:
# 4- dictionnaire_Ang_Fr

dictionnaire_Ang_Fr=dict()
for mot ,dic in dictionnaire.items():
    dictionnaire_Ang_Fr [dic]= mot
print(dictionnaire_Ang_Fr )

{'Ambulance': 'Ambulance', 'hospital': 'Hôpital', 'Nurse': 'Infirmière', 'brain': 'cerveau'}

In [225]:
# 5- Recherchez si votre dictionnaire contient la traduction du mot “brain”.

dictionnaire_Ang_Fr.get("brain","Le mot recherché n'existe pas")

'cerveau'

In [228]:
# 6 - Recherchez si votre dictionnaire contient la valeur “cerveau” et si tel est le cas, afficher sa clé
correspondante.

Resp = False 
for mot,dic in dictionnaire_Ang_Fr.items():
    if dic =="cerveau":
        Resp=True
        print("La valeur de la clé cerveau est :{}".format(mot))

La valeur de la clé cerveau est :brain

In [248]:
# 7- Modifiez votre dictionnaire de départ de sorte que les valeurs ne soient plus des simples mots anglais, mais des listes de mots correspondant à autant de traductions possibles de vos clés.

dictionnaire3={'conversation':[],'cat':[],'chemin':[]}
dictionnaire3['conversation'].append("talk") 
dictionnaire3['conversation'].append("discussion")

# 8- Ajoutez à votre nouveaux dictionnaire le couple clé-valeur

dictionnaire3['chemin'].append("path")
dictionnaire3['chemin'].append("way")
print(dictionnaire3)

# 9- Recherchez la deuxième traduction du mot “chemin”.

dictionnaire3['chemin'][1]

# 10- Effacez la clé “chemin” et sa valeur correspondante de votre dictionnaire (fonction del).

del(dictionnaire3['chemin'])
print(dictionnaire3)

{'conversation': ['talk', 'discussion'], 'cat': [], 'chemin': ['path', 'way']}
{'conversation': ['talk', 'discussion'], 'cat': []}

In [253]:
#TD3

#Exercice 1

# Lire la valeur de l'entier n

n = int(input("Tapez la valeur de n "))
print("La table de multiplication de : ", n," est :")
for i in range(1,11):
    print(i , " x ", n, " = ",i*n)
#
def triangle ():
    h = int(input("hauteur du triangle: "))
    for i in range (1,h+1,1):
        print(i*"*")
        
triangle()
    
# 5

h1=int(input("hauteur de l'arbre?"))
for i in range(1,h1+1):
    stars=(i*2)-1
    blanks=h1-i
    print(blanks*" "+stars*"*")
    
# avec une fonction

def habre():
    h2 = int(input("hauteur de l'arbre: "))
    for i in range(h2):
        print(' '*(h2-1-i)+'*'*(1+2*i))
        
habre()

Tapez la valeur de n 5
La table de multiplication de :  5  est :
1  x  5  =  5
2  x  5  =  10
3  x  5  =  15
4  x  5  =  20
5  x  5  =  25
6  x  5  =  30
7  x  5  =  35
8  x  5  =  40
9  x  5  =  45
10  x  5  =  50
hauteur de l'arbre?5
    *
   ***
  *****
 *******
*********

In [ ]:
for n in range(1,10):
    #insert separator
    print("--------------------------------------")
    print("la table de multiplication de  : ", n," est :")
    for i in range(1,10):
        print(i , " x ", n, " = ",i*n)

In [2]:
#exercice 2

jours = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
mois = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

In [3]:
mj=[]
for i in range(len(jours)):
    mj.append((mois[i],jours[i]))
mj

[('January', 31),
 ('February', 28),
 ('March', 31),
 ('April', 30),
 ('May', 31),
 ('June', 30),
 ('July', 31),
 ('August', 31),
 ('September', 30),
 ('October', 31),
 ('November', 30),
 ('December', 31)]

In [4]:
annee=[]
for i in mj:
    for j in range(i[1]):
        annee.append(str(j+1)+" "+i[0])  

annee

['1 January',
 '2 January',
 '3 January',
 '4 January',
 '5 January',
 '6 January',
 '7 January',
 '8 January',
 '9 January',
 '10 January',
 '11 January',
 '12 January',
 '13 January',
 '14 January',
 '15 January',
 '16 January',
 '17 January',
 '18 January',
 '19 January',
 '20 January',
 '21 January',
 '22 January',
 '23 January',
 '24 January',
 '25 January',
 '26 January',
 '27 January',
 '28 January',
 '29 January',
 '30 January',
 '31 January',
 '1 February',
 '2 February',
 '3 February',
 '4 February',
 '5 February',
 '6 February',
 '7 February',
 '8 February',
 '9 February',
 '10 February',
 '11 February',
 '12 February',
 '13 February',
 '14 February',
 '15 February',
 '16 February',
 '17 February',
 '18 February',
 '19 February',
 '20 February',
 '21 February',
 '22 February',
 '23 February',
 '24 February',
 '25 February',
 '26 February',
 '27 February',
 '28 February',
 '1 March',
 '2 March',
 '3 March',
 '4 March',
 '5 March',
 '6 March',
 '7 March',
 '8 March',
 '9 March',
 '10 March',
 '11 March',
 '12 March',
 '13 March',
 '14 March',
 '15 March',
 '16 March',
 '17 March',
 '18 March',
 '19 March',
 '20 March',
 '21 March',
 '22 March',
 '23 March',
 '24 March',
 '25 March',
 '26 March',
 '27 March',
 '28 March',
 '29 March',
 '30 March',
 '31 March',
 '1 April',
 '2 April',
 '3 April',
 '4 April',
 '5 April',
 '6 April',
 '7 April',
 '8 April',
 '9 April',
 '10 April',
 '11 April',
 '12 April',
 '13 April',
 '14 April',
 '15 April',
 '16 April',
 '17 April',
 '18 April',
 '19 April',
 '20 April',
 '21 April',
 '22 April',
 '23 April',
 '24 April',
 '25 April',
 '26 April',
 '27 April',
 '28 April',
 '29 April',
 '30 April',
 '1 May',
 '2 May',
 '3 May',
 '4 May',
 '5 May',
 '6 May',
 '7 May',
 '8 May',
 '9 May',
 '10 May',
 '11 May',
 '12 May',
 '13 May',
 '14 May',
 '15 May',
 '16 May',
 '17 May',
 '18 May',
 '19 May',
 '20 May',
 '21 May',
 '22 May',
 '23 May',
 '24 May',
 '25 May',
 '26 May',
 '27 May',
 '28 May',
 '29 May',
 '30 May',
 '31 May',
 '1 June',
 '2 June',
 '3 June',
 '4 June',
 '5 June',
 '6 June',
 '7 June',
 '8 June',
 '9 June',
 '10 June',
 '11 June',
 '12 June',
 '13 June',
 '14 June',
 '15 June',
 '16 June',
 '17 June',
 '18 June',
 '19 June',
 '20 June',
 '21 June',
 '22 June',
 '23 June',
 '24 June',
 '25 June',
 '26 June',
 '27 June',
 '28 June',
 '29 June',
 '30 June',
 '1 July',
 '2 July',
 '3 July',
 '4 July',
 '5 July',
 '6 July',
 '7 July',
 '8 July',
 '9 July',
 '10 July',
 '11 July',
 '12 July',
 '13 July',
 '14 July',
 '15 July',
 '16 July',
 '17 July',
 '18 July',
 '19 July',
 '20 July',
 '21 July',
 '22 July',
 '23 July',
 '24 July',
 '25 July',
 '26 July',
 '27 July',
 '28 July',
 '29 July',
 '30 July',
 '31 July',
 '1 August',
 '2 August',
 '3 August',
 '4 August',
 '5 August',
 '6 August',
 '7 August',
 '8 August',
 '9 August',
 '10 August',
 '11 August',
 '12 August',
 '13 August',
 '14 August',
 '15 August',
 '16 August',
 '17 August',
 '18 August',
 '19 August',
 '20 August',
 '21 August',
 '22 August',
 '23 August',
 '24 August',
 '25 August',
 '26 August',
 '27 August',
 '28 August',
 '29 August',
 '30 August',
 '31 August',
 '1 September',
 '2 September',
 '3 September',
 '4 September',
 '5 September',
 '6 September',
 '7 September',
 '8 September',
 '9 September',
 '10 September',
 '11 September',
 '12 September',
 '13 September',
 '14 September',
 '15 September',
 '16 September',
 '17 September',
 '18 September',
 '19 September',
 '20 September',
 '21 September',
 '22 September',
 '23 September',
 '24 September',
 '25 September',
 '26 September',
 '27 September',
 '28 September',
 '29 September',
 '30 September',
 '1 October',
 '2 October',
 '3 October',
 '4 October',
 '5 October',
 '6 October',
 '7 October',
 '8 October',
 '9 October',
 '10 October',
 '11 October',
 '12 October',
 '13 October',
 '14 October',
 '15 October',
 '16 October',
 '17 October',
 '18 October',
 '19 October',
 '20 October',
 '21 October',
 '22 October',
 '23 October',
 '24 October',
 '25 October',
 '26 October',
 '27 October',
 '28 October',
 '29 October',
 '30 October',
 '31 October',
 '1 November',
 '2 November',
 '3 November',
 '4 November',
 '5 November',
 '6 November',
 '7 November',
 '8 November',
 '9 November',
 '10 November',
 '11 November',
 '12 November',
 '13 November',
 '14 November',
 '15 November',
 '16 November',
 '17 November',
 '18 November',
 '19 November',
 '20 November',
 '21 November',
 '22 November',
 '23 November',
 '24 November',
 '25 November',
 '26 November',
 '27 November',
 '28 November',
 '29 November',
 '30 November',
 '1 December',
 '2 December',
 '3 December',
 '4 December',
 '5 December',
 '6 December',
 '7 December',
 '8 December',
 '9 December',
 '10 December',
 '11 December',
 '12 December',
 '13 December',
 '14 December',
 '15 December',
 '16 December',
 '17 December',
 '18 December',
 '19 December',
 '20 December',
 '21 December',
 '22 December',
 '23 December',
 '24 December',
 '25 December',
 '26 December',
 '27 December',
 '28 December',
 '29 December',
 '30 December',
 '31 December']

In [18]:
jours_semaine = ["Monday","Tuesday","Wednesday","Thursday", "Friday","Saturday", "Sunday"]

In [19]:
annee2=[]
j=0
for i in range(len(annee)):    
    if j>=7:
        j=0     
    annee2.append(jours_semaine[j]+" "+annee[i]) 
    j=j+1
    
annee2

['Monday 1 January',
 'Tuesday 2 January',
 'Wednesday 3 January',
 'Thursday 4 January',
 'Friday 5 January',
 'Saturday 6 January',
 'Sunday 7 January',
 'Monday 8 January',
 'Tuesday 9 January',
 'Wednesday 10 January',
 'Thursday 11 January',
 'Friday 12 January',
 'Saturday 13 January',
 'Sunday 14 January',
 'Monday 15 January',
 'Tuesday 16 January',
 'Wednesday 17 January',
 'Thursday 18 January',
 'Friday 19 January',
 'Saturday 20 January',
 'Sunday 21 January',
 'Monday 22 January',
 'Tuesday 23 January',
 'Wednesday 24 January',
 'Thursday 25 January',
 'Friday 26 January',
 'Saturday 27 January',
 'Sunday 28 January',
 'Monday 29 January',
 'Tuesday 30 January',
 'Wednesday 31 January',
 'Thursday 1 February',
 'Friday 2 February',
 'Saturday 3 February',
 'Sunday 4 February',
 'Monday 5 February',
 'Tuesday 6 February',
 'Wednesday 7 February',
 'Thursday 8 February',
 'Friday 9 February',
 'Saturday 10 February',
 'Sunday 11 February',
 'Monday 12 February',
 'Tuesday 13 February',
 'Wednesday 14 February',
 'Thursday 15 February',
 'Friday 16 February',
 'Saturday 17 February',
 'Sunday 18 February',
 'Monday 19 February',
 'Tuesday 20 February',
 'Wednesday 21 February',
 'Thursday 22 February',
 'Friday 23 February',
 'Saturday 24 February',
 'Sunday 25 February',
 'Monday 26 February',
 'Tuesday 27 February',
 'Wednesday 28 February',
 'Thursday 1 March',
 'Friday 2 March',
 'Saturday 3 March',
 'Sunday 4 March',
 'Monday 5 March',
 'Tuesday 6 March',
 'Wednesday 7 March',
 'Thursday 8 March',
 'Friday 9 March',
 'Saturday 10 March',
 'Sunday 11 March',
 'Monday 12 March',
 'Tuesday 13 March',
 'Wednesday 14 March',
 'Thursday 15 March',
 'Friday 16 March',
 'Saturday 17 March',
 'Sunday 18 March',
 'Monday 19 March',
 'Tuesday 20 March',
 'Wednesday 21 March',
 'Thursday 22 March',
 'Friday 23 March',
 'Saturday 24 March',
 'Sunday 25 March',
 'Monday 26 March',
 'Tuesday 27 March',
 'Wednesday 28 March',
 'Thursday 29 March',
 'Friday 30 March',
 'Saturday 31 March',
 'Sunday 1 April',
 'Monday 2 April',
 'Tuesday 3 April',
 'Wednesday 4 April',
 'Thursday 5 April',
 'Friday 6 April',
 'Saturday 7 April',
 'Sunday 8 April',
 'Monday 9 April',
 'Tuesday 10 April',
 'Wednesday 11 April',
 'Thursday 12 April',
 'Friday 13 April',
 'Saturday 14 April',
 'Sunday 15 April',
 'Monday 16 April',
 'Tuesday 17 April',
 'Wednesday 18 April',
 'Thursday 19 April',
 'Friday 20 April',
 'Saturday 21 April',
 'Sunday 22 April',
 'Monday 23 April',
 'Tuesday 24 April',
 'Wednesday 25 April',
 'Thursday 26 April',
 'Friday 27 April',
 'Saturday 28 April',
 'Sunday 29 April',
 'Monday 30 April',
 'Tuesday 1 May',
 'Wednesday 2 May',
 'Thursday 3 May',
 'Friday 4 May',
 'Saturday 5 May',
 'Sunday 6 May',
 'Monday 7 May',
 'Tuesday 8 May',
 'Wednesday 9 May',
 'Thursday 10 May',
 'Friday 11 May',
 'Saturday 12 May',
 'Sunday 13 May',
 'Monday 14 May',
 'Tuesday 15 May',
 'Wednesday 16 May',
 'Thursday 17 May',
 'Friday 18 May',
 'Saturday 19 May',
 'Sunday 20 May',
 'Monday 21 May',
 'Tuesday 22 May',
 'Wednesday 23 May',
 'Thursday 24 May',
 'Friday 25 May',
 'Saturday 26 May',
 'Sunday 27 May',
 'Monday 28 May',
 'Tuesday 29 May',
 'Wednesday 30 May',
 'Thursday 31 May',
 'Friday 1 June',
 'Saturday 2 June',
 'Sunday 3 June',
 'Monday 4 June',
 'Tuesday 5 June',
 'Wednesday 6 June',
 'Thursday 7 June',
 'Friday 8 June',
 'Saturday 9 June',
 'Sunday 10 June',
 'Monday 11 June',
 'Tuesday 12 June',
 'Wednesday 13 June',
 'Thursday 14 June',
 'Friday 15 June',
 'Saturday 16 June',
 'Sunday 17 June',
 'Monday 18 June',
 'Tuesday 19 June',
 'Wednesday 20 June',
 'Thursday 21 June',
 'Friday 22 June',
 'Saturday 23 June',
 'Sunday 24 June',
 'Monday 25 June',
 'Tuesday 26 June',
 'Wednesday 27 June',
 'Thursday 28 June',
 'Friday 29 June',
 'Saturday 30 June',
 'Sunday 1 July',
 'Monday 2 July',
 'Tuesday 3 July',
 'Wednesday 4 July',
 'Thursday 5 July',
 'Friday 6 July',
 'Saturday 7 July',
 'Sunday 8 July',
 'Monday 9 July',
 'Tuesday 10 July',
 'Wednesday 11 July',
 'Thursday 12 July',
 'Friday 13 July',
 'Saturday 14 July',
 'Sunday 15 July',
 'Monday 16 July',
 'Tuesday 17 July',
 'Wednesday 18 July',
 'Thursday 19 July',
 'Friday 20 July',
 'Saturday 21 July',
 'Sunday 22 July',
 'Monday 23 July',
 'Tuesday 24 July',
 'Wednesday 25 July',
 'Thursday 26 July',
 'Friday 27 July',
 'Saturday 28 July',
 'Sunday 29 July',
 'Monday 30 July',
 'Tuesday 31 July',
 'Wednesday 1 August',
 'Thursday 2 August',
 'Friday 3 August',
 'Saturday 4 August',
 'Sunday 5 August',
 'Monday 6 August',
 'Tuesday 7 August',
 'Wednesday 8 August',
 'Thursday 9 August',
 'Friday 10 August',
 'Saturday 11 August',
 'Sunday 12 August',
 'Monday 13 August',
 'Tuesday 14 August',
 'Wednesday 15 August',
 'Thursday 16 August',
 'Friday 17 August',
 'Saturday 18 August',
 'Sunday 19 August',
 'Monday 20 August',
 'Tuesday 21 August',
 'Wednesday 22 August',
 'Thursday 23 August',
 'Friday 24 August',
 'Saturday 25 August',
 'Sunday 26 August',
 'Monday 27 August',
 'Tuesday 28 August',
 'Wednesday 29 August',
 'Thursday 30 August',
 'Friday 31 August',
 'Saturday 1 September',
 'Sunday 2 September',
 'Monday 3 September',
 'Tuesday 4 September',
 'Wednesday 5 September',
 'Thursday 6 September',
 'Friday 7 September',
 'Saturday 8 September',
 'Sunday 9 September',
 'Monday 10 September',
 'Tuesday 11 September',
 'Wednesday 12 September',
 'Thursday 13 September',
 'Friday 14 September',
 'Saturday 15 September',
 'Sunday 16 September',
 'Monday 17 September',
 'Tuesday 18 September',
 'Wednesday 19 September',
 'Thursday 20 September',
 'Friday 21 September',
 'Saturday 22 September',
 'Sunday 23 September',
 'Monday 24 September',
 'Tuesday 25 September',
 'Wednesday 26 September',
 'Thursday 27 September',
 'Friday 28 September',
 'Saturday 29 September',
 'Sunday 30 September',
 'Monday 1 October',
 'Tuesday 2 October',
 'Wednesday 3 October',
 'Thursday 4 October',
 'Friday 5 October',
 'Saturday 6 October',
 'Sunday 7 October',
 'Monday 8 October',
 'Tuesday 9 October',
 'Wednesday 10 October',
 'Thursday 11 October',
 'Friday 12 October',
 'Saturday 13 October',
 'Sunday 14 October',
 'Monday 15 October',
 'Tuesday 16 October',
 'Wednesday 17 October',
 'Thursday 18 October',
 'Friday 19 October',
 'Saturday 20 October',
 'Sunday 21 October',
 'Monday 22 October',
 'Tuesday 23 October',
 'Wednesday 24 October',
 'Thursday 25 October',
 'Friday 26 October',
 'Saturday 27 October',
 'Sunday 28 October',
 'Monday 29 October',
 'Tuesday 30 October',
 'Wednesday 31 October',
 'Thursday 1 November',
 'Friday 2 November',
 'Saturday 3 November',
 'Sunday 4 November',
 'Monday 5 November',
 'Tuesday 6 November',
 'Wednesday 7 November',
 'Thursday 8 November',
 'Friday 9 November',
 'Saturday 10 November',
 'Sunday 11 November',
 'Monday 12 November',
 'Tuesday 13 November',
 'Wednesday 14 November',
 'Thursday 15 November',
 'Friday 16 November',
 'Saturday 17 November',
 'Sunday 18 November',
 'Monday 19 November',
 'Tuesday 20 November',
 'Wednesday 21 November',
 'Thursday 22 November',
 'Friday 23 November',
 'Saturday 24 November',
 'Sunday 25 November',
 'Monday 26 November',
 'Tuesday 27 November',
 'Wednesday 28 November',
 'Thursday 29 November',
 'Friday 30 November',
 'Saturday 1 December',
 'Sunday 2 December',
 'Monday 3 December',
 'Tuesday 4 December',
 'Wednesday 5 December',
 'Thursday 6 December',
 'Friday 7 December',
 'Saturday 8 December',
 'Sunday 9 December',
 'Monday 10 December',
 'Tuesday 11 December',
 'Wednesday 12 December',
 'Thursday 13 December',
 'Friday 14 December',
 'Saturday 15 December',
 'Sunday 16 December',
 'Monday 17 December',
 'Tuesday 18 December',
 'Wednesday 19 December',
 'Thursday 20 December',
 'Friday 21 December',
 'Saturday 22 December',
 'Sunday 23 December',
 'Monday 24 December',
 'Tuesday 25 December',
 'Wednesday 26 December',
 'Thursday 27 December',
 'Friday 28 December',
 'Saturday 29 December',
 'Sunday 30 December',
 'Monday 31 December']

In [20]:
len(annee2)

365

In [21]:
annee_Dict={}
i=0
for x in annee:
    if i==7:
        i=0
    annee_Dict.update({x:jours_semaine[i]})
    i=i+1
annee_Dict

{'1 January': 'Monday',
 '2 January': 'Tuesday',
 '3 January': 'Wednesday',
 '4 January': 'Thursday',
 '5 January': 'Friday',
 '6 January': 'Saturday',
 '7 January': 'Sunday',
 '8 January': 'Monday',
 '9 January': 'Tuesday',
 '10 January': 'Wednesday',
 '11 January': 'Thursday',
 '12 January': 'Friday',
 '13 January': 'Saturday',
 '14 January': 'Sunday',
 '15 January': 'Monday',
 '16 January': 'Tuesday',
 '17 January': 'Wednesday',
 '18 January': 'Thursday',
 '19 January': 'Friday',
 '20 January': 'Saturday',
 '21 January': 'Sunday',
 '22 January': 'Monday',
 '23 January': 'Tuesday',
 '24 January': 'Wednesday',
 '25 January': 'Thursday',
 '26 January': 'Friday',
 '27 January': 'Saturday',
 '28 January': 'Sunday',
 '29 January': 'Monday',
 '30 January': 'Tuesday',
 '31 January': 'Wednesday',
 '1 February': 'Thursday',
 '2 February': 'Friday',
 '3 February': 'Saturday',
 '4 February': 'Sunday',
 '5 February': 'Monday',
 '6 February': 'Tuesday',
 '7 February': 'Wednesday',
 '8 February': 'Thursday',
 '9 February': 'Friday',
 '10 February': 'Saturday',
 '11 February': 'Sunday',
 '12 February': 'Monday',
 '13 February': 'Tuesday',
 '14 February': 'Wednesday',
 '15 February': 'Thursday',
 '16 February': 'Friday',
 '17 February': 'Saturday',
 '18 February': 'Sunday',
 '19 February': 'Monday',
 '20 February': 'Tuesday',
 '21 February': 'Wednesday',
 '22 February': 'Thursday',
 '23 February': 'Friday',
 '24 February': 'Saturday',
 '25 February': 'Sunday',
 '26 February': 'Monday',
 '27 February': 'Tuesday',
 '28 February': 'Wednesday',
 '1 March': 'Thursday',
 '2 March': 'Friday',
 '3 March': 'Saturday',
 '4 March': 'Sunday',
 '5 March': 'Monday',
 '6 March': 'Tuesday',
 '7 March': 'Wednesday',
 '8 March': 'Thursday',
 '9 March': 'Friday',
 '10 March': 'Saturday',
 '11 March': 'Sunday',
 '12 March': 'Monday',
 '13 March': 'Tuesday',
 '14 March': 'Wednesday',
 '15 March': 'Thursday',
 '16 March': 'Friday',
 '17 March': 'Saturday',
 '18 March': 'Sunday',
 '19 March': 'Monday',
 '20 March': 'Tuesday',
 '21 March': 'Wednesday',
 '22 March': 'Thursday',
 '23 March': 'Friday',
 '24 March': 'Saturday',
 '25 March': 'Sunday',
 '26 March': 'Monday',
 '27 March': 'Tuesday',
 '28 March': 'Wednesday',
 '29 March': 'Thursday',
 '30 March': 'Friday',
 '31 March': 'Saturday',
 '1 April': 'Sunday',
 '2 April': 'Monday',
 '3 April': 'Tuesday',
 '4 April': 'Wednesday',
 '5 April': 'Thursday',
 '6 April': 'Friday',
 '7 April': 'Saturday',
 '8 April': 'Sunday',
 '9 April': 'Monday',
 '10 April': 'Tuesday',
 '11 April': 'Wednesday',
 '12 April': 'Thursday',
 '13 April': 'Friday',
 '14 April': 'Saturday',
 '15 April': 'Sunday',
 '16 April': 'Monday',
 '17 April': 'Tuesday',
 '18 April': 'Wednesday',
 '19 April': 'Thursday',
 '20 April': 'Friday',
 '21 April': 'Saturday',
 '22 April': 'Sunday',
 '23 April': 'Monday',
 '24 April': 'Tuesday',
 '25 April': 'Wednesday',
 '26 April': 'Thursday',
 '27 April': 'Friday',
 '28 April': 'Saturday',
 '29 April': 'Sunday',
 '30 April': 'Monday',
 '1 May': 'Tuesday',
 '2 May': 'Wednesday',
 '3 May': 'Thursday',
 '4 May': 'Friday',
 '5 May': 'Saturday',
 '6 May': 'Sunday',
 '7 May': 'Monday',
 '8 May': 'Tuesday',
 '9 May': 'Wednesday',
 '10 May': 'Thursday',
 '11 May': 'Friday',
 '12 May': 'Saturday',
 '13 May': 'Sunday',
 '14 May': 'Monday',
 '15 May': 'Tuesday',
 '16 May': 'Wednesday',
 '17 May': 'Thursday',
 '18 May': 'Friday',
 '19 May': 'Saturday',
 '20 May': 'Sunday',
 '21 May': 'Monday',
 '22 May': 'Tuesday',
 '23 May': 'Wednesday',
 '24 May': 'Thursday',
 '25 May': 'Friday',
 '26 May': 'Saturday',
 '27 May': 'Sunday',
 '28 May': 'Monday',
 '29 May': 'Tuesday',
 '30 May': 'Wednesday',
 '31 May': 'Thursday',
 '1 June': 'Friday',
 '2 June': 'Saturday',
 '3 June': 'Sunday',
 '4 June': 'Monday',
 '5 June': 'Tuesday',
 '6 June': 'Wednesday',
 '7 June': 'Thursday',
 '8 June': 'Friday',
 '9 June': 'Saturday',
 '10 June': 'Sunday',
 '11 June': 'Monday',
 '12 June': 'Tuesday',
 '13 June': 'Wednesday',
 '14 June': 'Thursday',
 '15 June': 'Friday',
 '16 June': 'Saturday',
 '17 June': 'Sunday',
 '18 June': 'Monday',
 '19 June': 'Tuesday',
 '20 June': 'Wednesday',
 '21 June': 'Thursday',
 '22 June': 'Friday',
 '23 June': 'Saturday',
 '24 June': 'Sunday',
 '25 June': 'Monday',
 '26 June': 'Tuesday',
 '27 June': 'Wednesday',
 '28 June': 'Thursday',
 '29 June': 'Friday',
 '30 June': 'Saturday',
 '1 July': 'Sunday',
 '2 July': 'Monday',
 '3 July': 'Tuesday',
 '4 July': 'Wednesday',
 '5 July': 'Thursday',
 '6 July': 'Friday',
 '7 July': 'Saturday',
 '8 July': 'Sunday',
 '9 July': 'Monday',
 '10 July': 'Tuesday',
 '11 July': 'Wednesday',
 '12 July': 'Thursday',
 '13 July': 'Friday',
 '14 July': 'Saturday',
 '15 July': 'Sunday',
 '16 July': 'Monday',
 '17 July': 'Tuesday',
 '18 July': 'Wednesday',
 '19 July': 'Thursday',
 '20 July': 'Friday',
 '21 July': 'Saturday',
 '22 July': 'Sunday',
 '23 July': 'Monday',
 '24 July': 'Tuesday',
 '25 July': 'Wednesday',
 '26 July': 'Thursday',
 '27 July': 'Friday',
 '28 July': 'Saturday',
 '29 July': 'Sunday',
 '30 July': 'Monday',
 '31 July': 'Tuesday',
 '1 August': 'Wednesday',
 '2 August': 'Thursday',
 '3 August': 'Friday',
 '4 August': 'Saturday',
 '5 August': 'Sunday',
 '6 August': 'Monday',
 '7 August': 'Tuesday',
 '8 August': 'Wednesday',
 '9 August': 'Thursday',
 '10 August': 'Friday',
 '11 August': 'Saturday',
 '12 August': 'Sunday',
 '13 August': 'Monday',
 '14 August': 'Tuesday',
 '15 August': 'Wednesday',
 '16 August': 'Thursday',
 '17 August': 'Friday',
 '18 August': 'Saturday',
 '19 August': 'Sunday',
 '20 August': 'Monday',
 '21 August': 'Tuesday',
 '22 August': 'Wednesday',
 '23 August': 'Thursday',
 '24 August': 'Friday',
 '25 August': 'Saturday',
 '26 August': 'Sunday',
 '27 August': 'Monday',
 '28 August': 'Tuesday',
 '29 August': 'Wednesday',
 '30 August': 'Thursday',
 '31 August': 'Friday',
 '1 September': 'Saturday',
 '2 September': 'Sunday',
 '3 September': 'Monday',
 '4 September': 'Tuesday',
 '5 September': 'Wednesday',
 '6 September': 'Thursday',
 '7 September': 'Friday',
 '8 September': 'Saturday',
 '9 September': 'Sunday',
 '10 September': 'Monday',
 '11 September': 'Tuesday',
 '12 September': 'Wednesday',
 '13 September': 'Thursday',
 '14 September': 'Friday',
 '15 September': 'Saturday',
 '16 September': 'Sunday',
 '17 September': 'Monday',
 '18 September': 'Tuesday',
 '19 September': 'Wednesday',
 '20 September': 'Thursday',
 '21 September': 'Friday',
 '22 September': 'Saturday',
 '23 September': 'Sunday',
 '24 September': 'Monday',
 '25 September': 'Tuesday',
 '26 September': 'Wednesday',
 '27 September': 'Thursday',
 '28 September': 'Friday',
 '29 September': 'Saturday',
 '30 September': 'Sunday',
 '1 October': 'Monday',
 '2 October': 'Tuesday',
 '3 October': 'Wednesday',
 '4 October': 'Thursday',
 '5 October': 'Friday',
 '6 October': 'Saturday',
 '7 October': 'Sunday',
 '8 October': 'Monday',
 '9 October': 'Tuesday',
 '10 October': 'Wednesday',
 '11 October': 'Thursday',
 '12 October': 'Friday',
 '13 October': 'Saturday',
 '14 October': 'Sunday',
 '15 October': 'Monday',
 '16 October': 'Tuesday',
 '17 October': 'Wednesday',
 '18 October': 'Thursday',
 '19 October': 'Friday',
 '20 October': 'Saturday',
 '21 October': 'Sunday',
 '22 October': 'Monday',
 '23 October': 'Tuesday',
 '24 October': 'Wednesday',
 '25 October': 'Thursday',
 '26 October': 'Friday',
 '27 October': 'Saturday',
 '28 October': 'Sunday',
 '29 October': 'Monday',
 '30 October': 'Tuesday',
 '31 October': 'Wednesday',
 '1 November': 'Thursday',
 '2 November': 'Friday',
 '3 November': 'Saturday',
 '4 November': 'Sunday',
 '5 November': 'Monday',
 '6 November': 'Tuesday',
 '7 November': 'Wednesday',
 '8 November': 'Thursday',
 '9 November': 'Friday',
 '10 November': 'Saturday',
 '11 November': 'Sunday',
 '12 November': 'Monday',
 '13 November': 'Tuesday',
 '14 November': 'Wednesday',
 '15 November': 'Thursday',
 '16 November': 'Friday',
 '17 November': 'Saturday',
 '18 November': 'Sunday',
 '19 November': 'Monday',
 '20 November': 'Tuesday',
 '21 November': 'Wednesday',
 '22 November': 'Thursday',
 '23 November': 'Friday',
 '24 November': 'Saturday',
 '25 November': 'Sunday',
 '26 November': 'Monday',
 '27 November': 'Tuesday',
 '28 November': 'Wednesday',
 '29 November': 'Thursday',
 '30 November': 'Friday',
 '1 December': 'Saturday',
 '2 December': 'Sunday',
 '3 December': 'Monday',
 '4 December': 'Tuesday',
 '5 December': 'Wednesday',
 '6 December': 'Thursday',
 '7 December': 'Friday',
 '8 December': 'Saturday',
 '9 December': 'Sunday',
 '10 December': 'Monday',
 '11 December': 'Tuesday',
 '12 December': 'Wednesday',
 '13 December': 'Thursday',
 '14 December': 'Friday',
 '15 December': 'Saturday',
 '16 December': 'Sunday',
 '17 December': 'Monday',
 '18 December': 'Tuesday',
 '19 December': 'Wednesday',
 '20 December': 'Thursday',
 '21 December': 'Friday',
 '22 December': 'Saturday',
 '23 December': 'Sunday',
 '24 December': 'Monday',
 '25 December': 'Tuesday',
 '26 December': 'Wednesday',
 '27 December': 'Thursday',
 '28 December': 'Friday',
 '29 December': 'Saturday',
 '30 December': 'Sunday',
 '31 December': 'Monday'}

In [22]:
#5. À quel jour de la semaine correspond au 28 octobre ?

for clé, valeur in annee_Dict.items():
    if clé == "28 October":
        print (valeur)

Sunday

In [38]:
#TD fonctions 

from math import pi
def surf_cercle(r):
    s = (pi * (r ** 2))
    return s
surf_cercle(4)

50.26548245743669

In [39]:
#

from math import pi
def surf_cercle(r=2):
    s = (pi * (r ** 2))
    return s
surf_cercle()

12.566370614359172

In [40]:
#

def vol_boite(L=10,l=5,h=5):
    v = (L * l * h)
    return v
vol_boite()

250

In [50]:
#
def volboite(**kwargs):
    typeboite=""
    if len (kwargs)==1:
        typeboite="cubique"
        
    return typeboite
volboite(l=1)

'cubique'

'parrallélépipède : 18'

In [51]:
#pandas

import pandas as pd
import numpy as np
series = pd.Series([1,2,3,4,5, np.nan, "a string", 6])
series

0           1
1           2
2           3
3           4
4           5
5         NaN
6    a string
7           6
dtype: object

In [77]:
data=pd.read_csv("mower_market_snapshot.csv", sep=";")
#data.shape
#data.columns
#data.head
data

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [78]:
data.describe()

,capacity,failure_rate,id,margin,price,market_share,attractiveness
count,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000
mean,47.663266,0.166448,18958.000000,186.262609,260.075165,0.002144,0.636507
std,19.840501,0.073605,404.000825,191.011102,259.949127,0.001790,0.124016
min,0.013884,0.028906,18259.000000,52.943989,62.162200,0.000564,0.297384
25%,35.853890,0.095678,18608.500000,62.247602,73.379425,0.001135,0.549369
50%,50.309242,0.199796,18958.000000,66.299672,78.439753,0.001399,0.641351
75%,61.905015,0.228011,19307.500000,265.370973,384.265263,0.002446,0.726746
max,104.614865,0.302465,19657.000000,790.012898,964.973926,0.009314,0.952877

In [79]:
#- 5 - Nombre de valeurs manquantes par colonne par ligne (axis=1)

data.isnull().sum(axis=0)

capacity           0
failure_rate       0
id                 0
margin             0
price              0
prod_cost         18
product_type       0
quality            0
warranty           0
market_share       0
attractiveness     0
dtype: int64

In [84]:
#
data["prod_cost"]

0       195.03551928211797
1       151.31809934886763
2       178.13731921134948
3       162.82946157588628
4       141.48693796090603
               ...
1394    11.498540481074583
1395    11.380588736668567
1396               unknown
1397     9.794196773761458
1398    10.696216086742934
Name: prod_cost, Length: 1399, dtype: object

In [104]:
def Treatment_1(name):
    global ID #variable global
    data = pd.read_csv(name, sep=";", header=None) #chargement du fichier csv sans considérer la premiere ligne comme le nom des colonnes
    data.columns = data.iloc[0, :].tolist() # recuperation de la ligne avec l'index 0  pour mettre comme nom de colonne
    data = data.drop(0, axis = 0).reset_index(drop = True) #supression de la ligne avec qui a pour index 0 et réinitialise l'index 0
    ID = data.id #recupération de la colonne id dans la varible global ID
    data = data.drop('id', axis =  1) # suppression de la colonne id du dataframe
    return data #retourne le dataframe 
name_1='mower_market_snapshot.csv' #nom du fichier csv a importer
Treatment_1(name_1) #appel de la foction avec comme parametre le variable dansq laquelle on a stocker le nom du fichier csv

,capacity,failure_rate,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623311991721,0.04252798088681092,633.7665842034021,828.8021034855201,195.03551928211797,auto-portee,Low,3ans,0.006360041749060895,0.6506482608150532
1,20.273730444538863,0.037896368225955296,731.5768165928985,882.894915941766,151.31809934886763,auto-portee,Low,3 ans.,0.006840423036959984,0.6997924743016689
2,20.19045691648912,0.039111245954194296,741.2182024972648,919.3555217086142,178.13731921134948,auto-portee,Low,3_ans,0.0061790166010061475,0.6321289330507346
3,27.220131037450034,0.04130311679867133,654.2556353742241,817.0850969501104,162.82946157588628,auto-portee,Low,3 anss,0.007924828620013936,0.8107298917700951
4,16.370911056135107,0.037938171867880455,703.0945265657465,844.5814645266526,141.48693796090603,auto-portee,Medium,3ans.,0.007405626037658374,0.7576141622593239
...,...,...,...,...,...,...,...,...,...,...
1394,44.959894548992835,0.2346469274422487,63.66256103796289,75.16110151903747,11.498540481074583,essence,Medium,1 an,0.0009725533691324659,0.5131263989569433
1395,59.35605810795307,0.253693682727865,64.0145430546866,75.39513179135517,11.380588736668567,essence,Low,1ans,0.001038155432543819,0.5477385360702411
1396,67.86522214290575,0.22893453099780575,62.132034909323984,810.883148411149,unknown,essence,Low,1an.,0.0012426320350569962,0.6556219140406752
1397,66.85543549976667,0.24494793928030933,58.697121576775956,68.49131835053741,9.794196773761458,essence,Low,1 an,0.001644284373573234,0.8675366784502783
1398,54.71271281827748,0.17714343396168158,64.25921220783934,74.95542829458228,10.696216086742934,essence,Low,1an.,0.0010215335911746557,0.5389687288015661

In [121]:
from sklearn.preprocessing import LabelEncoder 
def Treatment_2(data):
    lb_make = LabelEncoder()      #Let's transform our string categorical data to numeric categorical data !    
    label_list = data.columns[5:7].tolist() #récupération des index des
    wa = data.columns[7]
    numeric_list = data.columns[~data.columns.isin(data.columns[5:8])].tolist()
    for x in data.columns: 
        for w in data.index:
            if x in numeric_list:
                if data[x][w] == 'unknown':
                    data[x][w] = 0
            elif x in wa:
                data[x][w] = data[x][w][0]
            elif x in label_list:
                data[str(x)+'_encoded'] = lb_make.fit_transform(data[x])
    if 'market_share' in data.columns.tolist():
        data = data.drop('market_share', axis = 1)
    data = data.drop(label_list, axis = 1)
    for x in data.columns:
        data[x] = data[x].astype(float)    
    return data
Treatment_2(data)

In [116]:
lb_make = LabelEncoder()

In [ ]:
#Improve this treatment :)
def Treatment_3(df):
    for x, y in zip(df.prod_cost, df.index):
        rep = math.isnan(df.prod_cost[y])
        if rep == True or x == 0 or x < 0:
            df['prod_cost'][y] = df['prod_cost'].mean()
    return df

In [111]:
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']
zipped = zip(numbers, letters)
zipped